body{
    font-family: "Open sans",sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.responsive-nav-right{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 75px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 888888;
    overflow: hidden;
    display: none;
}
.responsive-nav-right ul{
    padding: 0px 0 0 20px!important;
}
@media only screen and (max-width:768px){
    #about .section-header{
        padding: 0px 0;
    }   
}
@media only screen and (max-width:767px){
    #div-response .navbar-default{
        margin: 50px 0 0 50px!important;
    }
}
.responsive-nav-right ul li a{
    color: #1dc8cd;
}
/*==========================
  start of back-to-top
===========================*/
.back-to-top{
    position: fixed;
    bottom: 0;
    right: 15px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #1DC8Cd;
    border-radius: 4px 4px 0 0;
    background-color: rgba(24,224,153,0.99);
    padding: 4px 20px 10px 20px;
    display: none;
}
.back-to-top:hover{
    color: #fff;
    background-color: #4DC2CD;
}


/*==========================
  end of back-to -top
===========================*/


/*==========================
  start of header
===========================*/
.navbar-default{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.nav-menu-container{
    padding: 9px 0;
    background: none;
    border: none;
}
.nav-menu-container .band-avilon , .nav-menu-container .band-avilon:hover{
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
    margin: 0 0 0 0;
    padding: 22px 0 0 75px;
}
@media (max-width:768px){
    .nav-menu-container .band-avilon , .nav-menu-container .band-avilon:hover{
    font-size: 28px;
    padding-left: 15px;
    padding-top: 17px;
    }
}
@media (max-width:768px){
    .navbar-default ul{
        display: none;
        
    }
    .navbar-default .nav-collapse-container{
        border: none;
        
    }
}
.side-nav-dis{
    background-color: #fff;
    width: 50%;
    height: 100%;
}
#header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#header .navbar-default .navbar-toggle:hover ,
#header .navbar-default .navbar-toggle:visited ,
#header .navbar-default .navbar-toggle:focus ,
#header .navbar-default .navbar-toggle:active{
    background: none;
}
@media (max-width:768px){
    .navbar-default{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(24,224,153,0.99);
    }
}
.togle-nav{
    border: none;
    color: #fff!important;
}
#header button .icon-bar{
    color: #fff;
}

.nav-collapse-container{
  margin-top: 9px;
}
.nav-collapse-container ul{
    padding-right: 70px!important;
    
}
@media (max-width:768px){
    .nav-collapse-container ul{
        padding-left: -310px;
    }
}
.nav-collapse-container ul li a{
color: #fff!important;
}
.nav-collapse-container ul li a i{
    font-size: 9px!important;
    font-weight: 10!important;
}
.navbar-default.header-fixed{
    background-color: rgba(24,224,153,0.99);
    height: 75px;
    width: 100%;
    transition: 0.5s all;
}
/*===================
  end of header
===========================*/


/*===================
  start of home
===========================*/


#home{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)),url("../img/about-img.jpg"); 
  background-repeat: no-repeat;
  background-position: center,top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home-text{
    padding: 200px 0 0 0;
    text-align: center;
}
.home-text h2{
    color: #fff;
    font-size: 49px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-top: 35px;
}
.home-text p{
    color: #fff;
    font-size: 24px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding: 25px 0 0 0;
}
.home-text a{
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    border-radius: 50px;
    margin: 60px 0 0 0!important;
    padding: 20px 55px;
    text-decoration: none;
    border: 2px solid #fff;
}
.home-text a:hover{
     color: #fff;
    font-size: 25px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    border-radius: 50px;
    margin: 40px 0 0 0!important;
    padding: 20px 55px;
    text-decoration: none;
    border: 2px solid #fff;
    background: #fff;
    color: aqua;
    transition: 0.5s all;
}

#home .product-screens{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    width: 100%;
    height: 50%;
}
#home .product-screens .product-screen-1{
    position: absolute;
    right: 275px;
    bottom: -165px;
    z-index: 44;
    margin: 0 auto;
}
#home .product-screens .product-screen-2{
    position: absolute;
    right: 493px;
    bottom: -235px;
    z-index: 40;
     margin: 0 auto;
}
.product-screen-3{
   position: absolute; 
   bottom: -303px;
    right: 705px;
     margin: 0 auto;
}
#home .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}
@media (max-width:768px){
    #home .product-screens .product-screen-2 , #home .product-screens .product-screen-3{
        display: none;
    }
    #home .product-screens .product-screen-1{
        position: static;
        margin: 30px;
    
    }
    #home .home-text{
        position: absolute;
        top: 50px;
    }
    #home .home-text p{
       font-size: 18px;
    }
    #home .home-text h2{
       font-size: 35px;
    }
}

/*===================
  end of  home
===========================*/



/*===================
  start of about us
===========================*/
#about{
    background-color: #EFF5F5;
    color: #66667C;
}
#about .section-header{
    padding: 95px 0;
    text-align: center;
    background-color: #EFF5F5;
}
#about .section-header h2{
    font-size: 32px;
    font-weight: 400;
    color: #111;
}
#about .section-header .section-divider{
    width: 60px;
    height: 3px;
    background-color: aqua;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
#about .section-header p{
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: #777777;
    margin-top: 20px;
}
#about .about-img{
    height: 512px;
    overflow: hidden;
}
#about .about-img img{
    max-width: 100%;
    max-height: 100%;
    
}
#about .about-txt h2{
    margin-top: -4px;
    color: #111;
}
#about .about-txt h3{
    margin-top: -4px;
    color: #77778A;
    font-style: italic;
    font-size: 20px;
}
#about .about-txt ul li{
    margin-left: -23px;
}
/*===================
  end of about us
===========================*/
/*--=========================
  start of features
===========================---*/
#features .section-header{
    padding: 90px 0;
    text-align: center;
}
#features .section-header .section-divider{
    background-color: aqua;
    display: block;
    width: 65px;
    height: 3px;
    margin: 0 auto;
    margin-top: 20px;
}
#features .feature-1 .for-space{

    width: 300px;
    height: 100px;
}
#features .feature-1{
    text-align: center;
}
#features .feature-1 i{
    font-size: 40px;
    color: aqua;
    border: 1px solid aqua;
    padding: 20px 30px;
    border-radius: 50%;
    cursor: pointer;
}
#features .feature-1 i:hover{
    background-color: aqua;
    color: #fff;
}

.advanced-feature-now-1{
    background-color: #EFF5F5;
    padding: 50px 0;
}
.advanced-feature-now-1 h2{
    margin: 0px 0 0 0;
    color: #111;
}
.advanced-feature-now-1 h3{
    color: #77778A;
    font-size: 18px;
    font-style: italic;
}
.advanced-feature-now-1 p{
    color: #77778A;
    font-size: 17px;
}
.advanced-feature-now-2{
    padding: 50px 0;
}
.advanced-feature-now-2 h2{
    color: #111;
    margin-top: 0px;
}
.advanced-feature-now-2 i{
    font-size: 65px;
    color: aqua;
    margin-left: 0px;
}
.advanced-feature-now-2 .para-1{
    font-size: 18px;
    margin-left: 0px;
    display: inline-block;
    color: #C8C8C8;
}
.advanced-feature-now-3 i{
    color: aqua;
    font-size: 45px;
    display: inline-block;
}
.advanced-feature-now-3 .para-4{
    display: inline-block;
}

/*--=========================
  end of features
===========================---*/

/*--=========================
  start of testimonials
===========================---*/
.call-to-back{
    background: url("../img/call-to-action-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    height: 330px;
    overflow: hidden;
    
}
#flex-slider.testimonial {
    margin: 15px 0px;
}

.testimonial-meta {
    position: relative;
    padding-left: 90px;
    height: 70px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.testimonial img {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
}

.testimonial h3 {
    margin-bottom: 5px;
}

.testimonial span {
    font-size: 14px;
    color: #6195FF;
    text-transform: uppercase;
}


/*--=========================
  end of testimonials
===========================---*/
/*--=========================
  start of more features
===========================----*/
#more-features{
    border-top: 5px solid white;
}
#more-features .section-header{
    text-align: center;
    padding: 50px 0 40px 0;
    color: #111;
    background-color: #EFF5F5;
}
#more-features .section-header .section-divider{
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: aqua;
    margin-top: 20px;
}
#more-features .section-header p{
    color: #C8C8C8;
    font-style: italic;
    font-size: 15px;
    margin-top: 20px;
}
#more-features .container-more-features{
    background-color: #EFF5F5;
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}
#more-features .container-more-features .col1-more-features{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    padding-bottom: 20px!important;
}
@media (max-width:768px){
    #more-features .container-more-features .col1-more-features{margin-bottom: 30px;
    height: auto;
    }   
}
#more-features .container-more-features .col1-more-features .for-space{

    width: 100px;
    height: 30px;
}
#more-features .container-more-features .col1-more-features i{
    color: aqua;
    font-size: 75px;
    text-align: center;
    margin: 0px 0 0 50px;
}
@media (max-width:768px){
    #more-features .container-more-features .col1-more-features{
        text-align: center;}
 
    }
@media (max-width:768px){
#more-features .container-more-features .col1-more-features i{
    margin-left: 0px!important;
 
    }
}
@media (max-width:768px){
    #more-features .container-more-features .col1-more-features h3{
        margin-top: 0px!important;
        font-size: 15px!important;
    }
    }
@media (max-width:768px){
    #more-features .container-more-features .col1-more-features .for-space{
        display: none;}

        
    }
@media (max-width:768px){
    #more-features .container-more-features .col1-more-features p{
        margin-top: 0px!important;
        font-size: 13px!important;
        margin: 25px 10px 25px 10px!important;
    }

        
    }
#more-features .container-more-features .col1-more-features h3{
    color: #111;
    font-size: 18px;
    display: inline-block;  
    margin: 52px 0 0 0;
}
#more-features .container-more-features .col1-more-features p{
    font-size: 15px;
    display: inline-block;
    margin: 10px 0 0 0;
}
#more-features .container-more-features.col-row-more{
    margin: 30px 0 0 0;
}
.mr-feat3{
    margin-top: 35px;
}
/*--=========================
  end of more features
===========================----*/

/*--=========================
  start of  clients
===========================----*/
#clients{
    padding: 40px 0;
}
#clients .client-1 {
    width: 100%;
    height: 50px;
}
#clients .client-1 img{
    width: 100%;
    height: 40px;
}
#clients .client-2 {
    width: 100%;
    height: 50px;
}
#clients .client-2 img{
    width: 100%;
    height: 40px;
}
#clients .client-3 {
    width: 100%;
    height: 50px;
}
#clients .client-3 img{
    width: 100%;
    height: 40px;
}
#clients .client-4 {
    width: 100%;
    height: 50px;
}
#clients .client-4 img{
    width: 100%;
    height: 40px;
    
}
#clients .client-5 {
    width: 100%;
    height: 50px;
}
#clients .client-5 img{
    width: 100%;
    height: 40px;
}
#clients .client-6 {
    width: 100%;
    height: 50px;
}
#clients .client-6 img{
    width: 100%;
    height: 40px;
}

/*--=========================
  end of clients
===========================----*/

/*--=========================
  start of pricing
===========================----*/
#pricing .section-header{
    padding: 95px 0;
    text-align: center;
    background-color: #EFF5F5;
}
#pricing .section-header h2{
    color: #111;
    font-size: 28px;
    text-align: center;
}

#pricing .section-header .section-divider{
    background-color: aqua;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#pricing .section-header p{
    color: #c8c8c8;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#pricing .pricing-container{
    background-color: #EFF5F5;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

#pricing .pricing-container i{
    color: aqua;
}
#pricing .pricing-container .price-1:hover{
    border: 1px solid #1DC8CD;
     background-color: #FFFFFF;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
    cursor: pointer
}
#pricing .pricing-container .price-1{
    background-color: #FFFFFF;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
}
#pricing .pricing-container .price-1 h4{
    color: #111;
    font-size: 30px;
    padding: 35px 0 0 0;
}
#pricing .pricing-container .price-1 span{
    color: #1DC8CD;
    font-size: 50px;
    padding: 0px 0 0 0;
}
#pricing .pricing-container .price-1 ul{
    list-style: none;
}
#pricing .pricing-container .price-1 ul li{
    margin: 10px 0 0 0px;
    text-align: left;
    font-size: 16px;
}
#pricing .pricing-container .price-1 a{
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 50px;
    background-color: #515E61;
    border: 1px solid #515E61;
}
#pricing .pricing-container .price-1 a:hover{
   background-color: #1DC8CD;
    border: 1px solid #1DC8CD;
}


/*--=========================
  end of pricing
===========================----*/

/*--=========================
  start of questions
===========================----*/
#questions .section-header{
    padding: 40px 0;
    text-align: center;
    background-color: #FFFFFF;
}
#questions .section-header h2{
    color: #111;
    font-size: 28px;
    text-align: center;
}

#questions .section-header .section-divider{
    background-color: aqua;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#questions .section-header p{
    color: #c8c8c8;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#questions .questions-container{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
#questions .questions-container .panel-heading{
    background-color: #FFFFFF!important;
    padding-left: 0px;
}
#questions .questions-container .gp-pan{
    border-bottom: 1px solid #DDDDDD!important;
    background-color: #FFFFFF!important;
    padding-left: 0px;
}
#questions .questions-container .panel-heading a{
    text-decoration: none;
    color: #111;
}
#questions .questions-container .panel-body{
    border-top: 0px;
}
/*--=========================
  end of questions
===========================----*/

/*--=========================
  start of team
===========================----*/
#team .section-header{
    padding: 90px 0;
    text-align: center;
    background-color: #EFF5F5;
}
#team .section-header h2{
    color: #111;
    font-size: 28px;
    text-align: center;
}

#team .section-header .section-divider{
    background-color: aqua;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#team .section-header p{
    color: #c8c8c8;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}
#team .team-container .team-img-2{
    position: relative;
    width: 100%;
    cursor: pointer;
}
#team .team-container .team-img-3{
    position: relative;
    width: 100%;
    cursor: pointer;
}

#team .team-container .team-img-4{
    position: relative;
    width: 100%;
    cursor: pointer;
}

#team .team-container img{
    height: auto;
    width: 100%;
    display: block;
}
#team .team-container .team-img-2 .overlay{
    position: absolute;
    bottom: 100%;
    right: 0;
    top: 0;
    transition: 0.5s;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    height: 0;
    width: 100%;
}
#team .team-container .team-img-3 .overlay{
    position: absolute;
    bottom: 0;
    right: 100%;
    left: 0;
    transition: 0.5s;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    height: 0;
    width: 100%;
}
#team .team-container .team-img-4:hover .time-img{
    transform: scale(1.2);
    transition: 0.5s all;
}
#team .team-container .team-img-4 .overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    height: 0;
}

#team .team-container .overlay .icons{
    color: aqua;
    text-align: center;
    margin-top: 100px;
    
}
#team .team-container .team-img-1 i{
    border: 1px solid darkgray;
    padding: 10px 10px;
    border-radius: 50%;
}
#team .team-container .team-img-1 i:hover{
    border: 1px solid aqua;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: aqua;
    color: #111;
    cursor: pointer;
}
#team .team-container .team-img-2 i{
    border: 1px solid darkgray;
    padding: 10px 10px;
    border-radius: 50%;
}
#team .team-container .team-img-2 i:hover{
    border: 1px solid aqua;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: aqua;
    color: #111;
    cursor: pointer;
}
#team .team-container .team-img-3 i{
    border: 1px solid darkgray;
    padding: 10px 10px;
    border-radius: 50%;
}
#team .team-container .team-img-3 i:hover{
    border: 1px solid aqua;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: aqua;
    color: #111;
    cursor: pointer;
}
#team .team-container .team-img-4 i{
    border: 1px solid darkgray;
    padding: 10px 10px;
    border-radius: 50%;
}
#team .team-container .team-img-4 i:hover{
    border: 1px solid aqua;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: aqua;
    color: #111;
    cursor: pointer;
}
#team .team-container .team-img-2:hover .overlay{
    height: 100%;
    bottom: 0;
    width: 100%;
}

#team .team-container .team-img-3:hover .overlay{
    height: 100%;
    
}

#team .team-container .team-img-4:hover .overlay{
    height: 100%;
}
#team .team-container{
    background-color: #EFF5F5;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
}
#team .team-container h4{
    color: #666666;
    margin-top: 30px;
}
#team .team-container p{
    margin-top: -5px;
    font-style: italic;
}
#team .team-container i{
    margin-top: 0px;
    font-size: 19px;
}
#team .team-container .team-img-1{
    position: relative;
    width: 100%;
    cursor: pointer;
}
#team .team-container .team-img-1 img{
    height: auto;
    width: 100%;
    display: block;
}
#team .team-container .team-img-1:hover .overlay{

    height: 100%;
}
#team .team-container .team-img-1 .overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    transition: 0.5s;
}
#team .team-container .team-img-1 .overlay .text{
    color: aqua;
    text-align: center;
    margin-top: 100px;
}
/*--=========================
  end of team
===========================----*/
.lb-data.lbclose{display:block;float:left;width:30px;height:30px;
    background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
/*--=========================
  start of gallery
===========================----*/
#gallery .section-header{
    padding: 70px 0;
    text-align: center;
    background-color: #FFFFFF;
}
#gallery .section-header h2{
    color: #111;
    font-size: 28px;
    text-align: center;
}

#gallery .section-header .section-divider{
    background-color: aqua;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#gallery .section-header p{
    color: #c8c8c8;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#gallery .gallery-container{
    background-color: #EFF5F5;
    width: 100%;
    height: auto;
}
#gallery .gallery-container .image-1{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
    position: relative;
}
#gallery .gallery-container .image-1 img{
    width: 100%;
    height: 100%;  
}
#gallery .gallery-container .image-2{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
}
#gallery .gallery-container .image-2 img{
    width: 100%;
    height: 100%;  
}
#gallery .gallery-container .image-3{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
}
#gallery .gallery-container .image-3 img{
    width: 100%;
    height: 100%;  
}
#gallery .gallery-container .image-4{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
}
#gallery .gallery-container .image-4 img{
    width: 100%;
    height: 100%;  
}
#gallery .gallery-container .image-5{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
}
#gallery .gallery-container .image-5 img{
    width: 100%;
    height: 100%;  
}
#gallery .gallery-container .image-6{
    margin-left: -15px;
    height: 320px;
    margin-right: -15px;
}
#gallery .gallery-container .image-6 img{
    width: 100%;
    height: 100%;  
}
/*--=========================
  end of gallery
===========================----*/

/*--=========================
  start of contact
===========================----*/
#contact .section-header{
    padding: 80px 0;
    text-align: center;
    background-color: #FFFFFF;
}
#contact .section-header h2{
    color: #111;
    font-size: 28px;
    text-align: center;
}

#contact .section-header .section-divider{
    background-color: aqua;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#contact .section-header p{
    color: #c8c8c8;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#contact .contact-container{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../img/banner%2012%20(5).jpg");
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    text-align: center;
}
#contact .contact-container .form-contact .box-1{
    background: transparent;
    border: none;
    border-bottom: 2px solid #1DC8CD;
    width: 100%;
    height: 50px;
    margin-top: 40px; 
}
#contact .contact-container .form-contact .box-2{
    background: transparent;
    border: none;
    border-bottom: 2px solid #1DC8CD;
    width: 100%;
    height: 50px;
    margin-top: 40px; 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: aqua;
}

#contact .contact-container .form-contact .box-3{
    background: transparent;
    border: none;
    border-bottom: 2px solid #1DC8CD;
    width: 100%;
    height: 50px;
    margin-top: 40px; 
    color: #fff;
}
#contact .contact-container .form-contact .box-4{
    background: transparent;
    border: none;
    border-bottom: 2px solid #1DC8CD;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    color: aqua;
}
#contact .contact-container .form-contact .box-4:hover,#contact .contact-container .form-contact .box-4:focus{
    border-bottom-color: #fff;
}
#contact .contact-container .form-contact .box-3:hover,#contact .contact-container .form-contact .box-3:focus{
    border-bottom-color: #fff;
    color: aqua;
}
#contact .contact-container .form-contact .box-2:hover,#contact .contact-container .form-contact .box-2:focus{
    border-bottom-color: #fff;
    color: aqua;
}
#contact .contact-container .form-contact .box-1:hover,#contact .contact-container .form-contact .box-1:focus{
    border-bottom-color: #fff;
    color: aqua;
}
#contact .contact-container .form-contact .box-4:placeholder-shown{
    color: aqua;
}
#contact .contact-container .form-contact .box-5{
    background: transparent;
    border: 2px solid #1DC8CD;
    border-radius: 50px;
    padding: 25px 80px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 17px;
    color: #1DC8CD;
}
input:focus{
    outline: none;
}
#contact .contact-container .form-contact .box-5:hover{
    background-color: #1DC8CD;
    color: #fff;
    transition: 0.6s all;
}
/*--=========================
  end of contact
===========================----*/

/*--=========================
  start of footer
===========================----*/
#footer .footer-container{
    background-color: #EFF5F5;
    width: 100%;
    height: auto;
    padding: 70px 0 30px 0;
}
#footer .footer-container .col-footer-1 h3{
  color: #1DC8CD;  
}
#footer .footer-container .col-footer-1 p{
  color: #111;
    font-family: sans-serif;
    font-size: 14px;
    padding: 15px 0 0 0;
}
#footer .footer-container h3{
    color: #1DC8CD;
}
#footer .footer-container .col-footer-1 a{
    margin: 20px 0 0 0;
    color: #1DC8CD;
    font-family: sans-serif;
    font-size: 18px;
    padding: 9px 12px;
    border: 1px solid #1DC8CD;
    border-radius: 50%;
    
}
#footer .footer-container .col-footer-2 ul{
    list-style-type: none;
    color: #111;
    font-family: sans-serif;
    font-size: 14px;
    padding: 15px 0 0 0;
}
#footer .footer-container .col-footer-2 ul a{
    color: #111;
    text-decoration: none;
}

#footer .footer-container .col-footer-2 ul a:hover{
    color: #1DC8Cd;
}
#footer .footer-container .col-footer-1 a:hover{
    background-color: #1DC8CD;
    color: #fff;
    transition: 0.5s all;
}
#footer .footer-container .col-footer-2 i{
    color: #1DC8CD;
}
#footer .last-footer{
    background-color: #EFF9F9;
    width: 100%;
    height: 60px;
    text-align: center;
}
#footer .last-footer h5{
    margin: 0;
    color: #1DC8CD;
    padding: 20px 0;
}
/*--=========================
  end of footer
===========================----*/



